@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  margin: 0;
  font-family: 'open sans', 'poppins';
  padding: 0;
}
input,
button {
  font-family: inherit;
}
.special-width {
  overscroll-behavior: contain;
}
.slider {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.slider::-webkit-scrollbar {
  display: none;
}
@media only screen and (min-width: 480px) {
  .special-width {
    width: calc(50% - 0.25rem);
  }
}
html::-webkit-scrollbar-track {
  width: 12px;
  background-color: #3c4049;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar {
  width: 10px;
  background-color: #3c4049;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #16181d;
}
